body {
    font-family: Kalimati, Verdana, sans-serif;
    font-size: 100%;
    font-weight: 400;
    color: #666;
    /*padding: 20px;*/
}


p {
    font-size: 1.55em;
    line-height: 2.0;
   /* line-height: 2.25;*/
    /*margin-bottom: 10px;*/
    /*padding-left: 2px;
    padding-right: 4px;*/
}


ul {
    /*margin: 26px;*/
   /* padding-bottom: 40px;*/
}


li {
    font-size: 1.5em;
    /*line-height: 2.25;*/
    /*font-size: 16px;*/
    /*line-height: 18px;*/
   /* margin-bottom: 10px;*/
}

.container {
    max-width: 1024px;
}

.content {
    margin-top: 20px;

}

.text-mug-color {
    color: #f07c17;
}


.text-phat {
    font-size: 2.35em;
    font-weight: 600;
    line-height: 1.5;
}


.head-line-box {
     margin-top: 25px;
    /*margin-bottom: 17px;*/
}

.big-head {
    font-size: 4.8em;
    /*line-height: 60px;*/

}


.main-pic {
    border: 1px solid #ccc;
    margin-bottom: 30px;
}


.list-box {
    padding-top: 5px;
    padding-left: 32px;
    padding-bottom: 24px;
    margin-top: 0;
    /*margin-bottom: 30px;*/
    border: 1px solid #ccc;
}


.list-head {
    margin-bottom: 28px;
}


.sub-head {
    margin-top: -2px;
    margin-bottom: 20px;
    /*padding-left: 2px;
    padding-right: 4px;*/
}